# SERVER CONFIG
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# DATABASE (Render PostgreSQL)
DATABASE_URL=postgresql://user:pass@host:port/dbname
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_NAME=originode_db
DB_PORT=5432

# SECURITY (JWT)
JWT_ACCESS_SECRET=your_super_secret_access_key
JWT_REFRESH_SECRET=your_super_secret_refresh_key

# EMAIL (Nodemailer/Resend)
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_PASS=your_api_key

# PAYMENT
RAZORPAY_KEY_ID=your_id
RAZORPAY_KEY_SECRET=your_secret
